<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <?define EasyChangelog_TargetDir=$(var.EasyChangelog.TargetDir)?>
    <?define EasyHTML_TargetDir=$(var.EasyHTML.TargetDir)?>
    <?define EasyNodeJS_TargetDir=$(var.EasyNodeJS.TargetDir)?>
    <?define EasyPresskit_TargetDir=$(var.EasyPresskit.TargetDir)?>
    <?define EasyGit_TargetDir=$(var.EasyGit.TargetDir)?>
    <?define EasyButler_TargetDir=$(var.EasyButler.TargetDir)?>
	<?define EasyHTML 2_TargetDir=$(var.EasyHTML 2.TargetDir)?>
	<?define NewLauncher_TargetDir=$(var.NewLauncher.TargetDir)?>
	<?define ErrorLogger_TargetDir=$(var.ErrorLogger.TargetDir)?>
	<?define EasyConsole_TargetDir=$(var.EasyConsole.TargetDir)?>
    <Product Id="*" Name="Easy Software Suite" Language="1033" Version="4.0.0.0" Manufacturer="TheCrafters001" UpgradeCode="466be0a6-4adc-4302-a126-ee54a308cf41">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<!-- Define Link -->
		<Property Id="ARPHELPLINK" Value="https://thecrafters001.github.io/software/"/>
		<Property Id="ARPURLINFOABOUT" Value="https://thecrafters001.github.io/software/"/>
        <!-- Define icons -->
        <Icon Id="EasySoftwareSuite.ico" SourceFile="$(var.ProjectDir)img\EasySoftwareSuite.ico" />
        <Property Id="ARPPRODUCTICON" Value="EasySoftwareSuite.ico" />
        <WixVariable Id="WixUIExclamationIco" Value="ico\exclamation.ico" />
        <WixVariable Id="WixUIInfoIco" Value="ico\information.ico" />
        <WixVariable Id="WixUINewIco" Value="ico\new.ico" />
        <WixVariable Id="WixUIUpIco" Value="ico\parent.ico" />
        <!-- Define Images -->
        <WixVariable Id="WixUIBannerBmp" Value="img\banner_top.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="img\banner_welcome.bmp" />
        <!-- Define License -->
        <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\gpl-3.0.rtf" />
        <!-- Define Downgrade message & EmbedCab -->
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />
        <!-- UI Customization -->
        <UI>
            <!-- Define UI -->
            <UIRef Id="WixUI_Mondo" />
            <UIRef Id="WixUI_ErrorProgressText" />
            <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
            <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Easy Software Suite" />
        <Property Id="WixShellExecTarget" Value="[#Easy_Software_Suite_Launcher.exe]" />
        <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
        <!-- Define Features & Subfeatures -->
        <Feature Id="Launcher" Title="Easy Software Suite Launcher" Level="1" Absent="disallow" Display="expand" Description="This is a required feature. This is the launcher for each component of the software suite." ConfigurableDirectory="INSTALLFOLDER">
            <ComponentGroupRef Id="LauncherComponents" />
            <ComponentRef Id="ApplicationShortcut" />
            <Feature Id="EasyHTML" Title="EasyHTML" Level="1000" Absent="allow" Description="Select this component to install EasyHTML">
                <ComponentGroupRef Id="EasyHTML" />
                <ComponentGroupRef Id="extraScripts" />
            </Feature>
			<Feature Id="EasyHTML_Two" Title="EasyHTML 2" Level="1" Absent="allow" Description="Select this component to install EasyHTML 2">
                <ComponentGroupRef Id="EasyHTML_Two" />
            </Feature>
            <Feature Id="EasyNodeJS" Title="EasyNodeJS" Level="0" Absent="allow" Description="Select this component to install EasyNodeJS">
                <ComponentGroupRef Id="EasyNodeJS" />
            </Feature>
            <Feature Id="EasyChangelog" Title="EasyChangelog" Level="3" Absent="allow" Description="Select this component to install EasyChangeLog">
                <ComponentGroupRef Id="EasyChangelog" />
            </Feature>
            <Feature Id="EasyPresskit" Title="EasyPresskit" Level="0" Absent="allow" Description="Select this component to install EasyPressKit">
                <ComponentGroupRef Id="EasyPresskit" />
            </Feature>
            <Feature Id="EasyGit" Title="EasyGit" Level="3" Absent="allow" Description="Select this component to install EasyGit">
                <ComponentGroupRef Id="EasyGit" />
                <ComponentGroupRef Id="extraScripts" />
            </Feature>
            <Feature Id="EasyButler" Title="EasyButler" Level="1" Absent="allow" Description="Select this component to install EasyButler">
                <ComponentGroupRef Id="EasyButler" />
            </Feature>
			<Feature Id="EasyConsole" Title="EasyConsole" Level="1" Absent="allow" Description="Select this component to install EasyConsole">
				<ComponentGroupRef Id="EasyConsole" />
			</Feature>
        </Feature>
    </Product>
    <!-- Folders & Icons -->
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="TheCrafters001Folder" Name="TheCrafters001">
                    <Directory Id="INSTALLFOLDER" Name="Easy Software Suite">
                        <Directory Id="ExtrasFolder" Name="Extra">
                            <Directory Id="ScriptsFolder" Name="Scripts" />
                        </Directory>
					</Directory>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Easy Software Suite" />
            </Directory>
        </Directory>
    </Fragment>
    <!-- Shortcut & Registry -->
    <Fragment>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="f177928a-bd0e-4d7d-bbe1-53c62e0c0a97">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="Easy Software Suite" Description="Easy Software Suite Launcher" Target="[INSTALLFOLDER]Easy Software Suite Launcher.exe" WorkingDirectory="INSTALLFOLDER" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\TheCrafters001\Easy Software Suite" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <!-- Components & Files -->
    <Fragment>
        <ComponentGroup Id="LauncherComponents" Directory="INSTALLFOLDER">
            <!-- Include the launcher itself -->
            <Component Id="Easy_Software_Suite_Launcher.exe" Guid="95795256-9b80-4251-83cf-cbc5b55d24af">
                <File Id="Easy_Software_Suite_Launcher.exe" Name="Easy Software Suite Launcher.exe" Source="$(var.NewLauncher_TargetDir)Easy Software Suite Launcher.exe" />
            </Component>
            <Component Id="Easy_Software_Suite_Launcher.dll" Guid="eef836c5-f056-41f6-9b45-74f746c3dfb8">
                <File Id="Easy_Software_Suite_Launcher.dll" Name="Easy Software Suite Launcher.dll" Source="$(var.NewLauncher_TargetDir)Easy Software Suite Launcher.dll" />
            </Component>
			<Component Id="Easy_Software_Suite_Launcher.runtimeconfig.json" Guid="02c07036-1f97-4724-a7ef-b03329f5898f">
                <File Id="Easy_Software_Suite_Launcher.runtimeconfig.json" Name="Easy Software Suite Launcher.runtimeconfig.json" Source="$(var.NewLauncher_TargetDir)Easy Software Suite Launcher.runtimeconfig.json" />
            </Component>
			<!-- Error Logger. Required for all apps. -->
            <Component Id="ErrorLogger.dll" Guid="b9c51ca3-7eed-41e8-9404-750154a30227">
              <File Id="ErrorLogger.dll" Name="ErrorLogger.dll" Source="$(var.ErrorLogger_TargetDir)ErrorLogger.dll" />
            </Component>
			<!-- Required Compnent for EasyHTML and EasyHTML 2 -->
            <Component Id="FastColoredTextBox.dll" Guid="4724c549-c38b-4410-8c22-6635ef7583d4">
              <File Id="FastColoredTextBox.dll" Name="FastColoredTextBox.dll" Source="$(var.Easy Software Suite Launcher.TargetDir)FastColoredTextBox.dll" />
            </Component>
        </ComponentGroup>
        <!-- EasyHTML -->
        <ComponentGroup Id="EasyHTML" Directory="INSTALLFOLDER">
            <Component Id="EasyHTML.exe" Guid="02d4cce8-adcf-4181-9878-0f7014c12020">
                <File Id="EasyHTML.exe" Name="EasyHTML.exe" Source="$(var.EasyHTML_TargetDir)EasyHTML.exe" />
            </Component>
            <Component Id="EasyHTML.exe.config" Guid="d182202a-654e-48c2-86df-39512f95eee8">
                <File Id="EasyHTML.exe.config" Name="EasyHTML.exe.config" Source="$(var.EasyHTML_TargetDir)EasyHTML.exe.config" />
            </Component>
        </ComponentGroup>
		<ComponentGroup Id="EasyHTML_Two" Directory="INSTALLFOLDER">
		    <Component Id="EasyHTML_2.exe.config" Guid="b97717b8-4949-47bc-95ca-84df479e61c1">
              <File Id="EasyHTML_2.exe.config" Name="EasyHTML 2.exe.config" Source="$(var.EasyHTML 2_TargetDir)EasyHTML 2.exe.config" />
            </Component>
            <Component Id="EasyHTML_2.exe" Guid="c44db836-bd0f-4945-b282-d862f5371a81">
              <File Id="EasyHTML_2.exe" Name="EasyHTML 2.exe" Source="$(var.EasyHTML 2_TargetDir)EasyHTML 2.exe" />
            </Component>
		</ComponentGroup>
        <!-- Scripts -->
        <ComponentGroup Id="extraScripts" Directory="ScriptsFolder">
            <Component Id="pythonPreviewScript.bat" Guid="5ede20d3-739d-4742-9625-e822a63b2139">
                <File Id="pythonPreviewScript.bat" Name="pythonPreviewScript.bat" Source="$(var.EasyHTML_TargetDir)Extra\Scripts\pythonPreviewScript.bat" />
                <File Id="gitCommit.bat" Name="gitCommit.bat" Source="$(var.EasyGit_TargetDir)Extra\Scripts\gitCommit.bat" />
            </Component>
        </ComponentGroup>
        <!-- EasyNodeJS -->
        <ComponentGroup Id="EasyNodeJS" Directory="INSTALLFOLDER">
            <Component Id="EasyNodeJS.exe" Guid="17af8058-59b3-431c-863b-f40a36f8ae16">
                <File Id="EasyNodeJS.exe" Name="EasyNodeJS.exe" Source="$(var.EasyNodeJS_TargetDir)EasyNodeJS.exe" />
            </Component>
            <Component Id="EasyNodeJS.exe.config" Guid="17badb3e-ae66-4fd2-8588-0e7588591709">
                <File Id="EasyNodeJS.exe.config" Name="EasyNodeJS.exe.config" Source="$(var.EasyNodeJS_TargetDir)EasyNodeJS.exe.config" />
            </Component>
        </ComponentGroup>
        <!-- EasyChangelog -->
        <ComponentGroup Id="EasyChangelog" Directory="INSTALLFOLDER">
            <Component Id="EasyChangelog.exe" Guid="611481d9-e193-4a2b-8931-2dc472287dfe">
                <File Id="EasyChangelog.exe" Name="EasyChangelog.exe" Source="$(var.EasyChangelog_TargetDir)EasyChangelog.exe" />
            </Component>
            <Component Id="EasyChangelog.exe.config" Guid="ed2ff094-64e7-416e-9652-150488405f61">
                <File Id="EasyChangelog.exe.config" Name="EasyChangelog.exe.config" Source="$(var.EasyChangelog_TargetDir)EasyChangelog.exe.config" />
            </Component>
        </ComponentGroup>
        <!-- EasyPresskit -->
        <ComponentGroup Id="EasyPresskit" Directory="INSTALLFOLDER">
            <Component Id="EasyPresskit.exe" Guid="7ea3da29-9a13-4f04-81ad-9f4dc2224ebf">
                <File Id="EasyPresskit.exe" Name="EasyPresskit.exe" Source="$(var.EasyPresskit_TargetDir)EasyPresskit.exe" />
            </Component>
            <Component Id="EasyPresskit.exe.config" Guid="34806621-eb92-4be6-a30b-30ff23e71a4b">
                <File Id="EasyPresskit.exe.config" Name="EasyPresskit.exe.config" Source="$(var.EasyPresskit_TargetDir)EasyPresskit.exe.config" />
            </Component>
        </ComponentGroup>
        <!-- EasyGit -->
        <ComponentGroup Id="EasyGit" Directory="INSTALLFOLDER">
            <Component Id="EasyGit.exe.config" Guid="dc9d8c5f-1baf-4186-aa5f-6cf17bcea34d">
                <File Id="EasyGit.exe.config" Name="EasyGit.exe.config" Source="$(var.EasyGit_TargetDir)EasyGit.exe.config" />
            </Component>
            <Component Id="EasyGit.exe" Guid="99f5d81c-bf1e-4a86-82a2-fa3458e78a2c">
                <File Id="EasyGit.exe" Name="EasyGit.exe" Source="$(var.EasyGit_TargetDir)EasyGit.exe" />
            </Component>
        </ComponentGroup>
        <!-- EasyButler -->
		<ComponentGroup Id="EasyButler" Directory="INSTALLFOLDER">
			<Component Id="EasyButler.dll" Guid="e2b63c8c-786c-4318-9c65-d84a9e90f78a">
				<File Id="EasyButler.dll" Name="EasyButler.dll" Source="$(var.EasyButler_TargetDir)EasyButler.dll" />
			</Component>
			<Component Id="EasyButler.exe" Guid="9c1d6353-b76d-4dae-a50f-e697b06fa335">
				<File Id="EasyButler.exe" Name="EasyButler.exe" Source="$(var.EasyButler_TargetDir)EasyButler.exe" />
			</Component>
			<Component Id="EasyButler.runtimeconfig.json" Guid="a513cd7c-6579-4bdc-a9ed-adbe38bed337">
				<File Id="EasyButler.runtimeconfig.json" Name="EasyButler.runtimeconfig.json" Source="$(var.EasyButler_TargetDir)EasyButler.runtimeconfig.json" />
			</Component>
		</ComponentGroup>
		<!-- EasyConsole -->
		<ComponentGroup Id="EasyConsole" Directory="INSTALLFOLDER">
			<Component Id="EasyConsole.dll" Guid="cc3d532b-504a-4fb4-a963-89ec383ca565">
				<File Id="EasyConsole.dll" Name="EasyConsole.dll" Source="$(var.EasyConsole_TargetDir)EasyConsole.dll" />
			</Component>
			<Component Id="EasyConsole.exe" Guid="79e7c53e-1a33-4e53-949d-c88fe59b8955">
				<File Id="EasyConsole.exe" Name="EasyConsole.exe" Source="$(var.EasyConsole_TargetDir)EasyConsole.exe" />
			</Component>
			<Component Id="EasyConsole.runtimeconfig.json" Guid="46b5b08b-c1bf-47d6-b887-291b625b88b0">
				<File Id="EasyConsole.runtimeconfig.json" Name="EasyConsole.runtimeconfig.json" Source="$(var.EasyConsole_TargetDir)EasyConsole.runtimeconfig.json" />
			</Component>
		</ComponentGroup>
    </Fragment>
</Wix>
